﻿@model Core_Mascotas.Models.Mascota

@{
    ViewData["Title"] = "Create";
}

<h1>Crear un nuevo registro</h1>

<h4>Mickey's Cares</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
                <label asp-for="IdMascota" class="control-label"></label>
                <input asp-for="IdMascota" class="form-control" />
                <span asp-validation-for="IdMascota" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="NombreMascota" class="control-label"></label>
                <input asp-for="NombreMascota" class="form-control" />
                <span asp-validation-for="NombreMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazaMascota" class="control-label"></label>
                <input asp-for="RazaMascota" class="form-control" />
                <span asp-validation-for="RazaMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdadMascota" class="control-label"></label>
                <input asp-for="EdadMascota" class="form-control" />
                <span asp-validation-for="EdadMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroFicha" class="control-label"></label>
                <input asp-for="NumeroFicha" class="form-control" />
                <span asp-validation-for="NumeroFicha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vet" class="control-label"></label>
                <input asp-for="Vet" class="form-control" />
                <span asp-validation-for="Vet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
