﻿@model Core_Mascotas.Models.Mascota

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Desea eliminar este registro?</h3>
<div>
    <h4>Mickey's Cares</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazaMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazaMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroFicha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroFicha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vet)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
