﻿@model Core_Mascotas.Models.Mascota

@{
    ViewData["Title"] = "Detail";
}

<h1>Detalles</h1>

<div>
    <h4>Mickey's Cares</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazaMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazaMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroFicha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroFicha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vet)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Regresar a la lista</a>
</div>
