﻿@model IEnumerable<Core_Mascotas.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Mickey's Cares </h1>

<p>
    <a asp-action="Create">Crear un nuevo registro</a>
</p>


<form asp-action="Index" method="get">
    <p>
        <input type="search" placeholder="Ingresa nombre de la mascota o veterinario..." name="petSearch" value="@ViewData["GetMascotaDetails"]" style="width:500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver todos</a>
    </p>
 </form>

    <table class="table">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdMascota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreMascota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RazaMascota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EdadMascota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroFicha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vet)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdMascota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreMascota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RazaMascota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EdadMascota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroFicha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vet)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdMascota }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Detalles", "Detail", new { id = item.IdMascota }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdMascota }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

